body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

/* navbar */
.navbar{
    min-height: 4.3rem;
    background-color: rgb(249, 248, 248);
}
.main-heading{
    margin: 14px 0px;
}
.ri-compass-3-line{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #171717 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-socials i{
    margin-right: 1rem;
    font-size: 1.3rem;
}
.f-info-links , .f-info-socials{
    width: 100%;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: rgb(233, 231, 231);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.badge{
    font-size: 16px !important;
}
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;

}
.link-success{
    font-size: 18px !important;
    font-weight: 600 !important;
}
.card-text p{
    font-weight: 400;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
    margin-bottom: 15px;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
@media (max-width: 768px){
    .reviews{
        width: 200px !important;
    }
}
.reviews{
    box-shadow: 0 0 4px #ede8e8;
    border-radius: 8px;
}
.reviews:hover{
    box-shadow: 0 0 8px #8a8a8a;
    transition: box-shadow 0.4s ease;
}


